// override BS5 variables and add custom variables

// change the 'primary' and 'danger' color and add 'purple'
$primary: #9ba2ff;
$danger: #f6e27f;
$purple: #800080;
$vista: #9ba2ff;
$jasmine: #F6E27F;
$bistre: #251605;
$blackish: #292D2D;
