// basic layout of all pages
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
footer{
  margin-bottom: -16px;
}
main{
  margin: 0 10%;
}
nav div.container-fluid{
  padding: 0 15%;
}
h1,h2,h3,h4,h5 {
  font-family: "Oswald",sans-serif;
  font-weight: 600;
  letter-spacing: -2%;
}
p, a{
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
}
.cv{
  border: 3px solid darkcyan;
}
.carousel-item {
  img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: 20
    % 50%;
    //filter: brightness(0.4);
  }
}

.test{
  background: linear-gradient(to right, $vista, $jasmine);
  padding: 10px;
}
.test{
  transform: rotateY(180deg);
}

.card-cover{
  background-size: 100%;
}
.projectcard{
  background-color: rgba(0,0,0,0.5);
  color: $jasmine;
}
.projectcard:hover {
  background-color: rgba(0,0,0,0.3);
}
.carousel-indicators{
  margin-left: 40%;
  margin-right: 40%;
}
@media only screen and (min-width: 768px) {
  nav div.container-fluid{max-width: 100%}
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #000; /* Adjust color as needed */
  margin: auto;
  animation: arrowBounce 1s infinite alternate; /* Animation for bouncing */
  opacity: 1; /* Initially fully visible */
}

@keyframes arrowBounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(10px); }
}

#scrollIndicator {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1; /* Initially fully visible */
}

body.scrolled #scrollIndicator {
  opacity: 0; /* Fade-out arrow when scrolled */
  transition: opacity 0.2s ease-in-out;
}


