// basic layout of all pages
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5 {
  font-family: "Oswald",sans-serif;
  font-weight: 600;
  letter-spacing: -2%;
}
p, a{
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
}
body{
  margin: 0 10%;
}
.cv{
  border: 3px solid darkcyan;
}
.carousel-item {
  img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: 20
    % 50%;
    //filter: brightness(0.4);
  }
}

.test{
  background: linear-gradient(to right, $jasmine, $vista);
  padding: 10px;
}

.card-cover{
  background-size: 100%;
}
.projectcard{
  background-color: rgba(0,0,0,0.5);
  color: $jasmine;
}
.projectcard:hover {
  background-color: rgba(0,0,0,0.3);
}
.carousel-indicators{
  margin-left: 40%;
  margin-right: 40%;
}

