.layout{
  p{
    font-size: 1.2rem;
    line-height: 1.3rem;
    filter: brightness(1.2);
  }
  nav{
    font-size: 1.5rem;
    a:hover{
      color: $vista;
    }
  }
  .btn{
    font-size: 1.2rem;
  }
  .btn:hover{
      color: white;
  }
  span{
    font-weight: bold;
  }
  .skills i{
    font-size: 3rem;
  }
  .skills i:hover{
    color: $jasmine;
  }
  .thumbnail {
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  .thumbnail-small{
    cursor: pointer;
    max-width: 350px;
  }
  .modal-xxl{
    max-width: 70%;
    margin: auto;
  }
  .pdf{
    min-height: 86vh;
  }
}
